body {
  background: black;
  color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

table {
  font-family: monospace;
  border-spacing:0;
  border-collapse: collapse;
}
tr { border-spacing: 0;}
td, th {
  margin: 0;
  border: 1px solid #fff;
  padding: .5rem 1rem;
}
.error {
  color: red;
}